:root {
  --primary: #3e17ff;
  --second: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Archivo;
  background-color: var(--second);
}

/* v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v= */
/*    HEADER      HEADER      HEADER      HEADER      HEADER      HEADER      HEADER        */
/* v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v= */

header {
  position: sticky;
  top: 0;
  padding-top: 24px;
  height: 130px;
  z-index: 10;
  padding-left: 24px;
}

.svg-wrapper {
  top: 0;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
}

.svg-container {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 24px;
}

.responsive-svg:nth-child(1) {
  width: 100%;
  height: 100%;
}

.header-svg {
  height: auto;
  width: 31vw;
  /*transform: translateY(-20vh);*/ /* <- ancienne animation */
  clip-path: inset(100% 0% 0% 0%); /* <- par le haut */
  /*clip-path: inset(0% 0% 50% 50%); */ /* <- par la droite */
  z-index: 5;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 84px;
  color: var(--primary);
  top: 0px;
  font-size: clamp(14px, 0.833vw, 58px); /*16px sur vwh 1920x1080*/
}

.a-header {
  color: var(--primary);
  text-decoration: none;
}

/* ^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^= */
/*    HEADER      HEADER      HEADER      HEADER      HEADER      HEADER      HEADER        */
/* ^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^= */
/* v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v= */
/*         SECTION PROJET       SECTION PROJET        SECTION PROJET        SECTION PROJET  */
/* v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v=v= */

.header-spacing {
  padding-bottom: 560px;
}

.projets-wrapper {
  display: grid;
  grid-template-columns: repeat(
    12,
    1fr
  ); /* <- 12 colonnes de taille répartie également */
  gap: 24px;
  padding-right: 24px; /* marges */
  padding-left: 24px; /* marges */
  height: clamp(
    1100px,
    123vh,
    1900px
  ); /* environ 1330px quand écran hauteur = 1080px */
  background-color: red;
}

.projets-filters-container {
  grid-column-start: 3;
  grid-column-end: 11;
  height: clamp(
    180px,
    19.44vh,
    280px
  ); /* ~210px sur un écran de 1080px de haut */
  background-color: rgb(91, 183, 153);
}

h1 {
  font-size: clamp(14px, 0.833vw, 58px);
  color: var(--primary);
  text-decoration: none;
  font-weight: 400;
}

.filters-container {
  display: flex;
  justify-content: center;
  justify-content: space-between; /* centre les filtres dynamiques */
}

.filter {
  border: 0.104vw solid var(--primary); /*2px sur un écran de 1920px de large*/
  width: 9.0625vw; /* ~175px sur un écran de 1920px de large */
  aspect-ratio: 174 / 38; /* garde le ratio largeur/hauteur */
  border-radius: 1.041vw; /* ~20px sur un écran de 1920x1080 */
  font-size: 0.729vw; /*14px sur viewport de 1920x1080*/
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: 0.469vw; /*9px sur un écran de 1920px*/
  padding: 0;
  text-align: left;
  transition: all 0.3s ease;
}

.filter:hover {
  background-color: var(--primary);
  color: var(--second);
  transition: all 0.3s ease;
}

.filter-circle {
  background-color: var(--primary);
  width: 0.99vw; /*19.75px sur viewport de 1920x1080*/
  aspect-ratio: 1 / 1; /* garde le ratio largeur/hauteur */
  border-radius: 100%;
  margin-left: 0.469vw; /*9x sur écran de 1920px*/
  transition: all 0.3s ease;
}

.filter:hover .filter-circle {
  background-color: var(--second);
  transition: all 0.3s ease;
}
